In [1]:
# waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y= select the logs related to this particular user
# or ++95tJZADNg8U8HKbYdxbbXIRsO6pw1zBK4tHI7BtZo=

In [8]:
import pandas as pd
from pymongo import MongoClient
import sys

In [9]:
import numpy as np

In [10]:
import pickle

In [24]:
# read list of members that are to be extracted from the database
members_list_path = "/media/andraa/10160545101605452/kaggle/WSDM-kaggle/data/intermediate_data/members_list.pkl"
with open(members_list_path, 'rb') as f:
    members_list = list(pickle.load(f))

In [6]:
members_list[0:100]

['VHQPqeH8/M10M93DHraXMQIfFQka3fhhcjYsJj0UjxQ=',
 'hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=',
 'gfDHh27cYSwdQ5zPMzUCz5Lhwhgg4zDCgRYCg0zo/fo=',
 'OXdsWaL/+vkSQD0Qpa/04ASP5dXm+faG1bzDSKM09SA=',
 'CGdD+fmRagKAv36akzAs7kNwMdTPUP8W4CZUbMzLdyQ=',
 'DoJxAc8HinsKDJ+ybqY2DR0G95/esaisLDUEe074vdk=',
 'PrgM7qc7//PRJxg7ULCVbwGmA/SjmUlEYVjfOnnRRkY=',
 'bvTHIMtaO//DCboUBkt6uIZGDrVzZRFFjPQppjrV+BQ=',
 '6xA6LyZvgVHXssdnPT0wbpz/HT7QhE8Db0h9gn+LdoQ=',
 'aFwDgvXv/lcQKuXrkMPr+udfOxiNMlCF2xt93VXLGsY=']

In [11]:
client = MongoClient("localhost", 27017)
db = client.WSDM
collection = db.user_logs

In [15]:
#user_msno = "++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk="
members_set = set(members_list[0:100])

In [20]:
import time 
start_time = time.time()

cursor = collection.find({"msno" : {"$in" : members_list[0:1000]}}, 
                         {"_id":0, 
                         "msno":1,
                         "date":1,
                         "num_25":1,
                         "num_50":1,
                         "num_75":1,
                         "num_985":1,
                         "num_100":1,
                         "num_unq":1,
                         "total_secs":1})

df_user = pd.DataFrame(list(cursor))
print(time.time() -start_time)

288.33636569976807

In [25]:
import time 
start_time = time.time()
df = pd.DataFrame()
for member in  members_list[2000:4000]:
    cursor = collection.find({"msno" : {"$eq" : member}}, 
                             {"_id":0, 
                             "msno":1,
                             "date":1,
                             "num_25":1,
                             "num_50":1,
                             "num_75":1,
                             "num_985":1,
                             "num_100":1,
                             "num_unq":1,
                             "total_secs":1})

    df_user = pd.DataFrame(list(cursor))
    df = pd.concat([df, df_user])
print(time.time() -start_time)

188.59656810760498

In [27]:
start_time = time.time()
cursor = collection.find({"msno" : {"$eq" : "9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4="}}, 
                             {"_id":0, 
                             "msno":1,
                             "date":1,
                             "num_25":1,
                             "num_50":1,
                             "num_75":1,
                             "num_985":1,
                             "num_100":1,
                             "num_unq":1,
                             "total_secs":1})

df_user = pd.DataFrame(list(cursor))
print(time.time() -start_time)

1.1597273349761963

In [28]:
df_user

,date,msno,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs
0,20150308,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,53,21,4,0,2,72,14738.160
1,20151017,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,56,9,0,3,3,60,15170.015
2,20151218,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,10,18,2,0,1,30,3232.311
3,20160211,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,8,9,1,2,0,18,2562.066
4,20160405,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,14,15,2,3,7,33,5579.940
5,20160527,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,11,0,1,1,0,8,2790.806
6,20160718,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,9,33,5,2,2,51,3741.773
7,20150827,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,10,10,2,2,4,28,4126.925
8,20150703,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,8,43,1,0,1,52,2239.135
9,20161101,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,3,12,2,0,0,17,1167.202
10,20161226,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,25,10,2,1,4,41,7477.206
11,20150505,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,8,5,1,1,2,16,2425.506
12,20160911,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,14,23,6,5,3,46,5572.650
13,20170214,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,10,13,4,5,4,33,4945.615
14,20150310,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,12,13,3,1,3,32,4389.940
15,20150506,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,36,32,10,3,2,45,9891.032
16,20150704,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,9,1,0,0,2,11,2313.943
17,20150828,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,7,13,1,1,1,23,2591.798
18,20151018,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,25,21,8,5,2,39,8693.154
19,20151219,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,2,21,7,4,3,35,2884.196
20,20160212,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,14,15,3,4,3,38,5568.838
21,20160406,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,14,9,4,2,1,29,4586.474
22,20160528,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,10,0,1,2,0,9,2628.080
23,20161227,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,14,47,7,1,4,58,5407.156
24,20170215,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,10,39,4,4,0,53,3917.516
25,20160719,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,25,20,2,4,3,53,7861.017
26,20160912,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,16,17,9,13,1,54,6886.949
27,20161102,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,11,22,4,1,2,40,4324.224
28,20150313,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,5,7,0,0,0,12,1296.040
29,20150507,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,27,25,4,6,5,60,9263.416
...,...,...,...,...,...,...,...,...,...
658,20160715,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,4,2,0,0,1,7,1186.625
659,20161029,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,10,26,5,4,1,41,4028.572
660,20150306,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,13,22,2,2,3,38,4866.137
661,20150503,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,38,6,1,3,1,48,10840.266
662,20150630,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,8,14,8,6,2,37,4275.155
663,20150825,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,53,15,6,7,4,72,15587.264
664,20151015,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,9,21,2,2,3,28,3548.473
665,20151216,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,39,9,2,5,1,46,11397.652
666,20160207,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,1,0,0,0,0,1,285.071
667,20160908,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,7,10,1,0,0,18,1843.860
668,20161030,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,5,3,0,1,0,9,1354.864
669,20161224,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,12,41,5,8,1,66,5180.342
670,20170212,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,24,11,5,2,2,44,7752.452
671,20160525,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,43,23,7,8,5,66,13074.015
672,20160716,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,22,8,1,5,0,36,6707.111
673,20160403,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,39,13,2,3,1,31,10141.943
674,20150307,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,14,23,3,2,2,42,4949.664
675,20150826,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,8,1,0,2,0,11,2099.456
676,20151217,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,70,49,7,5,7,131,20707.746
677,20160210,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,67,22,10,11,15,116,23143.512
678,20150702,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,14,8,2,3,1,24,4526.740
679,20160526,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,1,0,0,0,0,1,235.572
680,20150504,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,7,17,3,1,3,25,2776.728
681,20160404,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,13,22,2,2,3,42,3892.965
682,20151016,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,3,8,0,1,2,13,1436.003
683,20160717,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,4,9,2,1,3,19,2265.452
684,20161031,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,1,19,2,2,0,24,1015.560
685,20160910,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,57,10,0,1,0,66,14093.229
686,20161225,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,2,18,1,3,2,26,1576.825
687,20170213,9iW/UpqRoviya9CQh64RoYLPjiws8+biwscN+g5qYm4=,44,49,8,6,5,79,13613.295

In [22]:
df

,date,msno,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs
0,20160509,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,23,2,0,2,1,26,6392.568
1,20151221,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,17,2,0,2,0,18,3981.228
2,20161122,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,16,1,1,0,0,18,4237.718
3,20160301,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,8,0,0,1,0,9,2188.435
4,20151223,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,21,1,0,0,1,22,5460.301
5,20160302,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,1,1,0,0,0,2,267.071
6,20161123,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,28,0,1,0,1,28,7749.142
7,20160510,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,0,1,0,1,0,2,145.789
8,20151224,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,16,1,0,2,1,19,4724.613
9,20160512,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,12,1,0,0,1,14,3443.430
10,20160303,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,11,1,1,0,1,14,3363.124
11,20161124,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,20,1,1,0,1,22,5725.533
12,20151225,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,18,0,1,0,0,19,4481.340
13,20160513,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,11,0,1,0,0,12,2854.116
14,20160304,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,11,1,1,0,0,13,3235.942
15,20161125,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,19,0,0,1,0,20,5076.251
16,20151226,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,32,3,0,3,1,37,8396.276
17,20160305,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,7,2,1,1,0,11,2063.250
18,20160517,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,9,1,0,0,0,10,2215.102
19,20161128,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,19,0,0,0,1,20,5216.998
20,20160307,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,15,6,1,0,1,22,3788.619
21,20160518,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,4,0,0,0,0,4,1004.344
22,20161129,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,27,0,2,0,1,29,7613.360
23,20151227,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,4,3,1,1,1,8,1579.162
24,20151228,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,12,2,0,2,0,14,3456.985
25,20160308,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,39,6,2,1,0,43,10122.102
26,20160520,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,7,0,0,0,0,7,1872.000
27,20161130,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,12,1,0,0,0,13,3012.119
28,20151229,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,18,2,1,0,0,21,4971.320
29,20160309,hTZzndYEE8RVWP5H4+2z2uQC65ansf4voQDviHTZRlU=,11,0,1,0,0,12,2871.601
...,...,...,...,...,...,...,...,...,...
278,20161029,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,10,1,0,0,0,2,2848.476
279,20170122,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,15,0,2,0,1,13,3921.339
280,20160329,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,17,4,1,1,3,13,5460.141
281,20151123,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,119,99,4,2,4,185,30745.083
282,20160607,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,89,79,4,2,1,123,20645.477
283,20160821,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,0,4,0,0,0,4,82.130
284,20161030,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,7,0,0,0,1,1,2265.260
285,20170128,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,6,5,0,0,2,7,2097.180
286,20160123,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,36,29,1,2,1,68,9628.285
287,20151124,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,61,67,6,1,3,113,16482.728
288,20160124,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,58,55,34,43,18,199,29455.757
289,20160330,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,11,5,0,0,0,10,2721.210
290,20160608,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,16,30,0,2,0,48,4496.593
291,20160822,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,8,10,3,1,1,22,2311.871
292,20170129,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,16,16,2,1,1,19,4588.938
293,20161101,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,1,0,0,1,0,1,474.737
294,20160125,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,8,2,0,0,0,10,2028.355
295,20160331,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,1,1,0,0,0,2,281.214
296,20151125,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,0,0,0,1,1,2,394.691
297,20160609,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,26,31,2,0,0,56,6187.735
298,20160823,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,26,23,1,1,0,49,6375.081
299,20161102,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,32,4,2,1,1,9,8586.299
300,20170204,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,14,7,1,2,2,24,4206.129
301,20151126,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,19,16,4,0,2,36,5192.673
302,20160126,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,9,2,0,2,0,13,2417.733
303,20160401,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,5,1,0,0,0,4,1329.597
304,20160610,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,13,20,0,1,8,28,4902.411
305,20160824,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,77,11,1,1,1,42,17644.932
306,20170206,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,10,6,1,0,4,17,3510.208
307,20161103,IDdWbtFTHHYgG7kQTvJIQWhnc64UC4iSYNZRFu8ju6w=,18,0,0,1,0,1,5257.714

In [19]:
df_user.head()

,date,msno,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs
0,20160712,01Dz3SWe9BXUCuPiGUaY9IeHVuy+X98MEVZv7hWfAmE=,14,0,0,0,0,14,3710.216
1,20160719,01Dz3SWe9BXUCuPiGUaY9IeHVuy+X98MEVZv7hWfAmE=,14,0,0,0,0,14,3634.195
2,20160806,01Dz3SWe9BXUCuPiGUaY9IeHVuy+X98MEVZv7hWfAmE=,2,0,1,0,0,3,587.454
3,20160809,01Dz3SWe9BXUCuPiGUaY9IeHVuy+X98MEVZv7hWfAmE=,17,0,0,1,0,17,4539.052
4,20160817,01Dz3SWe9BXUCuPiGUaY9IeHVuy+X98MEVZv7hWfAmE=,30,0,0,1,0,31,8683.970

In [31]:
from datetime import datetime
def convert_date(x):
    x = str(x)
    date = datetime(year=int(x[0:4]), month=int(x[4:6]), day=int(x[6:8]))
    #date = datetime.strptime(date, "%Y-%m-%d")
    return date

df_user["date"] = df_user["date"].apply(lambda x: convert_date(x))

In [32]:
df_user.head()

,date,msno,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs
0,2015-08-07,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,10,8,2,1,0,19,2868.131
1,2015-04-22,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,6,4,0,0,1,10,1693.113
2,2016-01-07,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,1,0,0,0,0,1,222.424
3,2015-04-23,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,9,4,0,0,0,13,2183.441
4,2015-08-12,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,2,0,0,0,2,4,611.892

In [33]:
df_user.set_index("date", inplace=True)

In [34]:
df_user.head()

,msno,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs
date,,,,,,,,
2015-08-07,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,10,8,2,1,0,19,2868.131
2015-04-22,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,6,4,0,0,1,10,1693.113
2016-01-07,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,1,0,0,0,0,1,222.424
2015-04-23,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,9,4,0,0,0,13,2183.441
2015-08-12,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,2,0,0,0,2,4,611.892

In [35]:
df_user.sort_index(inplace = True)

In [36]:
df_user.head()

,msno,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs
date,,,,,,,,
2015-01-05,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,14,2,1,0,0,15,3560.271
2015-01-06,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,7,7,3,0,1,16,2307.553
2015-01-09,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,9,6,2,1,0,17,2458.081
2015-01-10,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,1,0,0,0,1,2,412.001
2015-01-15,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,3,0,0,0,0,3,688.841

In [37]:
type(df_user.groupby(["msno", pd.TimeGrouper(freq = "M")]).count().index)

pandas.indexes.multi.MultiIndex

In [41]:
group1 = df_user.groupby(["msno", pd.TimeGrouper(freq = "M")]).count()

In [42]:
group1.index

MultiIndex(levels=[['++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk='], [2015-01-31 00:00:00, 2015-02-28 00:00:00, 2015-03-31 00:00:00, 2015-04-30 00:00:00, 2015-05-31 00:00:00, 2015-06-30 00:00:00, 2015-07-31 00:00:00, 2015-08-31 00:00:00, 2015-09-30 00:00:00, 2015-10-31 00:00:00, 2015-11-30 00:00:00, 2015-12-31 00:00:00, 2016-01-31 00:00:00, 2016-02-29 00:00:00, 2016-03-31 00:00:00, 2016-04-30 00:00:00, 2016-05-31 00:00:00, 2016-06-30 00:00:00]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]],
           names=['msno', 'date'])

In [46]:
len(group1.index.levels[0])

1

In [50]:
# should check for how many empty days we have 
# generate a timeline from the minimum to maximum date for this user
# apparently there is something like reindex, woooooo, that can fill with 0
min_timestamp = df_user.index[0]
max_timestamp = df_user.index[-1]
idx = pd.date_range(min_timestamp, max_timestamp)

df_user = df_user.reindex(idx, fill_value = 0)

In [51]:
df_user

,msno,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs
2015-01-05,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,14,2,1,0,0,15,3560.271
2015-01-06,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,7,7,3,0,1,16,2307.553
2015-01-07,0,0,0,0,0,0,0,0.000
2015-01-08,0,0,0,0,0,0,0,0.000
2015-01-09,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,9,6,2,1,0,17,2458.081
2015-01-10,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,1,0,0,0,1,2,412.001
2015-01-11,0,0,0,0,0,0,0,0.000
2015-01-12,0,0,0,0,0,0,0,0.000
2015-01-13,0,0,0,0,0,0,0,0.000
2015-01-14,0,0,0,0,0,0,0,0.000
2015-01-15,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,3,0,0,0,0,3,688.841
2015-01-16,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,43,5,1,2,0,39,10150.027
2015-01-17,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,4,0,1,0,0,5,1075.567
2015-01-18,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,6,1,0,0,2,9,1690.022
2015-01-19,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,28,8,2,0,0,20,6221.025
2015-01-20,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,10,1,0,0,2,13,2739.131
2015-01-21,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,45,4,0,0,0,16,9232.800
2015-01-22,0,0,0,0,0,0,0,0.000
2015-01-23,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,8,0,1,0,0,7,1822.642
2015-01-24,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,31,2,2,0,0,22,6408.527
2015-01-25,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,5,1,0,0,0,6,1142.879
2015-01-26,0,0,0,0,0,0,0,0.000
2015-01-27,0,0,0,0,0,0,0,0.000
2015-01-28,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,5,3,0,0,1,8,1382.809
2015-01-29,0,0,0,0,0,0,0,0.000
2015-01-30,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,28,20,3,2,3,44,8757.173
2015-01-31,0,0,0,0,0,0,0,0.000
2015-02-01,0,0,0,0,0,0,0,0.000
2015-02-02,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,34,23,1,0,1,25,8648.820
2015-02-03,0,0,0,0,0,0,0,0.000
...,...,...,...,...,...,...,...,...
2016-06-01,0,0,0,0,0,0,0,0.000
2016-06-02,0,0,0,0,0,0,0,0.000
2016-06-03,0,0,0,0,0,0,0,0.000
2016-06-04,0,0,0,0,0,0,0,0.000
2016-06-05,0,0,0,0,0,0,0,0.000
2016-06-06,0,0,0,0,0,0,0,0.000
2016-06-07,0,0,0,0,0,0,0,0.000
2016-06-08,0,0,0,0,0,0,0,0.000
2016-06-09,0,0,0,0,0,0,0,0.000
2016-06-10,0,0,0,0,0,0,0,0.000
2016-06-11,0,0,0,0,0,0,0,0.000
2016-06-12,0,0,0,0,0,0,0,0.000
2016-06-13,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,1,2,1,1,0,5,466.370
2016-06-14,0,0,0,0,0,0,0,0.000
2016-06-15,0,0,0,0,0,0,0,0.000
2016-06-16,0,0,0,0,0,0,0,0.000
2016-06-17,0,0,0,0,0,0,0,0.000
2016-06-18,0,0,0,0,0,0,0,0.000
2016-06-19,0,0,0,0,0,0,0,0.000
2016-06-20,0,0,0,0,0,0,0,0.000
2016-06-21,0,0,0,0,0,0,0,0.000
2016-06-22,0,0,0,0,0,0,0,0.000
2016-06-23,0,0,0,0,0,0,0,0.000
2016-06-24,0,0,0,0,0,0,0,0.000
2016-06-25,0,0,0,0,0,0,0,0.000
2016-06-26,0,0,0,0,0,0,0,0.000
2016-06-27,0,0,0,0,0,0,0,0.000
2016-06-28,0,0,0,0,0,0,0,0.000
2016-06-29,0,0,0,0,0,0,0,0.000
2016-06-30,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=,3,0,1,0,0,4,863.465

In [52]:
len(df_user[df_user["msno"] == 0])

360

In [53]:
df_user.index

DatetimeIndex(['2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10', '2015-01-11', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2016-06-21', '2016-06-22', '2016-06-23', '2016-06-24',
               '2016-06-25', '2016-06-26', '2016-06-27', '2016-06-28',
               '2016-06-29', '2016-06-30'],
              dtype='datetime64[ns]', length=543, freq='D')

In [54]:
df_user_null = df_user.groupby(["msno", pd.TimeGrouper(freq = "M")]).count().loc[0,]["num_100"].to_frame()

In [55]:
type(df_user.groupby(["msno", pd.TimeGrouper(freq = "M")]).count().index)

pandas.indexes.multi.MultiIndex

In [56]:
df_user_null.index

DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
               '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
               '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30'],
              dtype='datetime64[ns]', freq=None)

In [57]:
len(df_user.groupby(["msno", pd.TimeGrouper(freq = "M")]).count().index.levels[0])

2

In [19]:
df_user.groupby(["msno", pd.TimeGrouper(freq = "M")]).count()

                                                         num_100  num_25  \
msno
0                                            2015-01-31       11      11
                                             2015-02-28       25      25
                                             2015-03-31       27      27
                                             2015-04-30       12      12
                                             2015-05-31       15      15
                                             2015-06-30       21      21
                                             2015-07-31       17      17
                                             2015-08-31       19      19
                                             2015-09-30       25      25
                                             2015-10-31       22      22
                                             2015-11-30       17      17
                                             2015-12-31       18      18
                                             2016-01-31       15      15
                                             2016-02-29       26      26
                                             2016-03-31       20      20
                                             2016-04-30       15      15
                                             2016-05-31       27      27
                                             2016-06-30       28      28
++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk= 2015-01-31       16      16
                                             2015-02-28        3       3
                                             2015-03-31        4       4
                                             2015-04-30       18      18
                                             2015-05-31       16      16
                                             2015-06-30        9       9
                                             2015-07-31       14      14
                                             2015-08-31       12      12
                                             2015-09-30        5       5
                                             2015-10-31        9       9
                                             2015-11-30       13      13
                                             2015-12-31       13      13
                                             2016-01-31       16      16
                                             2016-02-29        3       3
                                             2016-03-31       11      11
                                             2016-04-30       15      15
                                             2016-05-31        4       4
                                             2016-06-30        2       2

                                                         num_50  num_75  \
msno
0                                            2015-01-31      11      11
                                             2015-02-28      25      25
                                             2015-03-31      27      27
                                             2015-04-30      12      12
                                             2015-05-31      15      15
                                             2015-06-30      21      21
                                             2015-07-31      17      17
                                             2015-08-31      19      19
                                             2015-09-30      25      25
                                             2015-10-31      22      22
                                             2015-11-30      17      17
                                             2015-12-31      18      18
                                             2016-01-31      15      15
                                             2016-02-29      26      26
                                             2016-03-31      20      20
                                             2016-04-30      15      15
                                             2016-05-31      27      27
                                             2016-06-30      28      28
++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk= 2015-01-31      16      16
                                             2015-02-28       3       3
                                             2015-03-31       4       4
                                             2015-04-30      18      18
                                             2015-05-31      16      16
                                             2015-06-30       9       9
                                             2015-07-31      14      14
                                             2015-08-31      12      12
                                             2015-09-30       5       5
                                             2015-10-31       9       9
                                             2015-11-30      13      13
                                             2015-12-31      13      13
                                             2016-01-31      16      16
                                             2016-02-29       3       3
                                             2016-03-31      11      11
                                             2016-04-30      15      15
                                             2016-05-31       4       4
                                             2016-06-30       2       2

                                                         num_985  num_unq  \
msno
0                                            2015-01-31       11       11
                                             2015-02-28       25       25
                                             2015-03-31       27       27
                                             2015-04-30       12       12
                                             2015-05-31       15       15
                                             2015-06-30       21       21
                                             2015-07-31       17       17
                                             2015-08-31       19       19
                                             2015-09-30       25       25
                                             2015-10-31       22       22
                                             2015-11-30       17       17
                                             2015-12-31       18       18
                                             2016-01-31       15       15
                                             2016-02-29       26       26
                                             2016-03-31       20       20
                                             2016-04-30       15       15
                                             2016-05-31       27       27
                                             2016-06-30       28       28
++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk= 2015-01-31       16       16
                                             2015-02-28        3        3
                                             2015-03-31        4        4
                                             2015-04-30       18       18
                                             2015-05-31       16       16
                                             2015-06-30        9        9
                                             2015-07-31       14       14
                                             2015-08-31       12       12
                                             2015-09-30        5        5
                                             2015-10-31        9        9
                                             2015-11-30       13       13
                                             2015-12-31       13       13
                                             2016-01-31       16       16
                                             2016-02-29        3        3
                                             2016-03-31       11       11
                                             2016-04-30       15       15
                                             2016-05-31        4        4
                                             2016-06-30        2        2

                                                         total_secs
msno
0                                            2015-01-31          11
                                             2015-02-28          25
                                             2015-03-31          27
                                             2015-04-30          12
                                             2015-05-31          15
                                             2015-06-30          21
                                             2015-07-31          17
                                             2015-08-31          19
                                             2015-09-30          25
                                             2015-10-31          22
                                             2015-11-30          17
                                             2015-12-31          18
                                             2016-01-31          15
                                             2016-02-29          26
                                             2016-03-31          20
                                             2016-04-30          15
                                             2016-05-31          27
                                             2016-06-30          28
++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk= 2015-01-31          16
                                             2015-02-28           3
                                             2015-03-31           4
                                             2015-04-30          18
                                             2015-05-31          16
                                             2015-06-30           9
                                             2015-07-31          14
                                             2015-08-31          12
                                             2015-09-30           5
                                             2015-10-31           9
                                             2015-11-30          13
                                             2015-12-31          13
                                             2016-01-31          16
                                             2016-02-29           3
                                             2016-03-31          11
                                             2016-04-30          15
                                             2016-05-31           4
                                             2016-06-30           2

In [53]:
# should check at the statistic per month
# user_loc_group = user_loc.set_index("date").groupby(["msno", pd.TimeGrouper(freq = 'M')]).sum()

df_user_null = df_user.groupby(["msno", pd.TimeGrouper(freq = "M")]).count().loc[0,]["num_100"].to_frame()
df_user_null.columns = ["nb_days_no_music_month"]

In [54]:
df_user_null

            nb_days_no_music_month
2015-01-31                      11
2015-02-28                      25
2015-03-31                      27
2015-04-30                      12
2015-05-31                      15
2015-06-30                      21
2015-07-31                      17
2015-08-31                      19
2015-09-30                      25
2015-10-31                      22
2015-11-30                      17
2015-12-31                      18
2016-01-31                      15
2016-02-29                      26
2016-03-31                      20
2016-04-30                      15
2016-05-31                      27
2016-06-30                      28

In [19]:
df_user_month = df_user.groupby([pd.TimeGrouper(freq = "M")]).sum()

In [20]:
df_user_month

            num_100  num_25  num_50  num_75  num_985  num_unq  total_secs
2015-01-31      247      60      16       5       10      242   60049.349
2015-02-28       52      24       1       0        1       44   12556.041
2015-03-31       26      13       4       3        1       29    7202.599
2015-04-30       90      43      10       9       10      142   25567.652
2015-05-31      135      28       8       6        4      170   34054.639
2015-06-30       75      35      10       2        6      108   19250.828
2015-07-31      168      66      11       7        3      220   41243.500
2015-08-31      128      72       3       4        6      167   31911.779
2015-09-30       51      43       1       2        3       69   13181.357
2015-10-31       86      79       7       5        6      112   23505.826
2015-11-30      146      40       6       6        9      181   38411.644
2015-12-31       79      37       7       7        6      123   21047.281
2016-01-31      178      38      11      13        6      208   46515.230
2016-02-29       11       0       2       0        0       13    2447.245
2016-03-31      147      30       7       3        6      190   38658.411
2016-04-30      127      53       7       8        2      178   33389.107
2016-05-31       40       6       2       1        0       45   10035.363
2016-06-30        4       2       2       1        0        9    1329.835

In [21]:
df_user_merge = pd.concat([df_user_month, df_user_null], axis = 1)

In [22]:
df_user_merge

,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs,nb_days_no_music_month
2015-01-31,247,60,16,5,10,242,60049.349,11
2015-02-28,52,24,1,0,1,44,12556.041,25
2015-03-31,26,13,4,3,1,29,7202.599,27
2015-04-30,90,43,10,9,10,142,25567.652,12
2015-05-31,135,28,8,6,4,170,34054.639,15
2015-06-30,75,35,10,2,6,108,19250.828,21
2015-07-31,168,66,11,7,3,220,41243.500,17
2015-08-31,128,72,3,4,6,167,31911.779,19
2015-09-30,51,43,1,2,3,69,13181.357,25
2015-10-31,86,79,7,5,6,112,23505.826,22
2015-11-30,146,40,6,6,9,181,38411.644,17
2015-12-31,79,37,7,7,6,123,21047.281,18
2016-01-31,178,38,11,13,6,208,46515.230,15
2016-02-29,11,0,2,0,0,13,2447.245,26
2016-03-31,147,30,7,3,6,190,38658.411,20
2016-04-30,127,53,7,8,2,178,33389.107,15
2016-05-31,40,6,2,1,0,45,10035.363,27
2016-06-30,4,2,2,1,0,9,1329.835,28

In [47]:
df_user_3_month = df_user_merge.tail(3)

In [24]:
df_user_3_month

,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs,nb_days_no_music_month
2016-04-30,127,53,7,8,2,178,33389.107,15
2016-05-31,40,6,2,1,0,45,10035.363,27
2016-06-30,4,2,2,1,0,9,1329.835,28

In [25]:
# I want to look at how the last three months have changed taken into consideration the previews period

In [26]:
if len(df_user_merge) > 3 :
    df_user_merge[:-3] 
    
    #dfrm.drop(dfrm.index[len(dfrm)-1])

In [27]:
df_user_mean = df_user_merge[:-3].mean()

In [28]:
df_user_merge[:-3].mean()

num_100                     107.933333
num_25                       40.533333
num_50                        6.933333
num_75                        4.800000
num_985                       5.133333
num_unq                     134.533333
total_secs                27706.892067
nb_days_no_music_month       19.333333
dtype: float64

In [29]:
for column in list(df_user_3_month.columns.values):
    df_user_3_month[column] = df_user_3_month[column].apply(lambda x: x*100/df_user_mean[column])

/home/andraa/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [42]:
df_user_3_month

,num_100,num_25,num_50,num_75,num_985,num_unq,total_secs,nb_days_no_music_month,msno
2016-04-30,117.665225,130.756579,100.961538,166.666667,38.961039,132.309217,120.508309,77.586207,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=
2016-05-31,37.059914,14.802632,28.846154,20.833333,0.000000,33.448959,36.219735,139.655172,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=
2016-06-30,3.705991,4.934211,28.846154,20.833333,0.000000,6.689792,4.799654,144.827586,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=

In [48]:
df_user_3_month = pd.DataFrame(df_user_3_month.values.reshape(1,24))
df_user_3_month.columns = ["num_100_1", "num_25_1", "num_50_1", "num_75_1", 
                           "num_985_1", "num_unq_1", "total_secs_1", 
                           "nb_days_no_music_month_1",
                           "num_200_2", "num_25_2", "num_50_2", "num_75_2",
                           "num_985_2", "num_unq_2", "total_secs_2", 
                           "nb_days_no_music_month_2", "num_300_3", "num_35_3", 
                           "num_50_3", "num_75_3", "num_985_3", "num_unq_3",
                           "total_secs_3", "nb_days_no_music_month_3" ]

In [49]:
df_user_3_month["msno"] = user_msno

In [50]:
df = pd.DataFrame()

In [51]:
df = pd.concat([df,df_user_3_month])

In [52]:
df

,num_100_1,num_25_1,num_50_1,num_75_1,num_985_1,num_unq_1,total_secs_1,nb_days_no_music_month_1,num_200_2,num_25_2,...,nb_days_no_music_month_2,num_300_3,num_35_3,num_50_3,num_75_3,num_985_3,num_unq_3,total_secs_3,nb_days_no_music_month_3,msno
0,127.0,53.0,7.0,8.0,2.0,178.0,120.508309,15.0,40.0,6.0,...,27.0,4.0,2.0,2.0,1.0,0.0,9.0,4.799654,28.0,++7jYuHyUSp41PyuttFx/MCepv7TdFQULgN8TxZULZk=